html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #E0E0E0;
}

.split {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.form {
  background: #ccc;
  padding: 1% 2% 1% 2%
}

.usr {
  width: 30%;
  position: absolute;
  top: 42.5vh;
}

.split div:last-child {
  margin-left: auto;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 8vh;
}

.nav-section { 
  display: flex;
  align-items: center;
  height: 100%;
  width: 33%;
}

#nav-left {
}

#nav-middle {
  justify-content: center
}

#nav-right {
  display: flex;
  flex-direction: row;
  direction: rtl;
}

#nav-right div {
  display: flex;
  justify-content: center
}

#nav-right a {
  height: 50%;
  font-size: 10px;
}

.icon{
  width: 30px;
  height: 30px;
}

#enter {
  display: flex;
  margin-top: 50%
  height 10%
  width 10%
}

#item-image-and-checkout {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 5%
}

#item-image-and-checkout div {
  width: 50%;
}

#item-image-and-checkout img {
  width: 50%;
  padding: 1.5%;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-height: 92vh;
}

.item-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
}

.item-column {
  flex: 49%;
}

.item-column.left {
  margin-right: 1%;
}

.item-column.right {
  margin-left: 1%;
}

.item-column a {
  width: 100%;
}

.no-margin{
  margin: 0;
}

.item-column img {
  width: 100%;
  margin-top: 2.5%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

#item-pic {
  height: 100;
}

#cart-icon{
  background: url(/images/icon-sprite.png) -290px -385px;
}

#account-icon{
  background: url(/images/icon-sprite.png) -65px -32px;
}

.burger {
  width: 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 2.5%
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color:  #17181F;
  display: inline-block;
}