#navbar {
	margin-left: 2%;
	list-style: none;
	padding: 0px;
  height: 40px;
}

#navbar li { 
  list-style: none;
  display: inline-block;
  float: left;
  /*margin: auto;*/
  padding: 0;
  width: 33%;
}

#enter {
  display:flex;
  justify-content: center;
}

.main{
  position: absolute;
  top:40px;
  bottom: 20px; /* Footer Height */
  width: 100%;
}

.burger {
	cursor: pointer;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-bar {
  width: 5%;
  height: 1%;
  background-color: #333;
  margin: 6px 0;
}