#navbar {
	margin-left: 2%;
  height: 40px;
	list-style: none;
	padding: 0;
  margin-bottom: 0;
  margin-top: 5%;
}

#navbar li { 
  list-style: none;
  display: inline-block;
  float: left;
  /*margin: auto;*/
  padding: 0;
  width: 33%;
}

#enter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50%
}

.main{
  display: flex;
  position: absolute;
  /*top: 40px;
  bottom: 20px;  Footer Height */
  width: 100%;
}

.burger {
	cursor: pointer;
}

.image-container {
  display: flex;
  justify-content: center;
}
.burger-bar {
  width: 15%;
  height: 10%;
  background-color: #333;
  margin: 7px 0;
}